# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     battleships
    database_user:     battleships
    database_password: ~
    database_version:  5.7
    database_slaves:   ~ # example configuration for 1 or more slaves below:
    #    slave1:
    #        host:     "10.10.10.12"
    #        port:     "%database_port%"
    #        dbname:   "%database_name%"
    #        user:     "%database_user%"
    #        password: "%database_password%"


    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # loggly token
    loggly_token:       ~
    loggly_tag:         battleships-api

    # varnish config
    varnish_debug:      false
    varnish_enabled:    false
    varnish_servers:    localhost # comma separated
    varnish_base_url:   battleships-api.dev.lekowski.pl
